{% extends 'base.html' %}




{% block content %}




<div class="filter__buttons">
    <form action="filter" method="post">
    <button name="ctg" value="todas" id="todasbtn"> Todas </button>
    <button name="ctg" value="sport" id="sportbtn"> Esporte </button>
    <button name="ctg" value="geral" id="geralbtn"> Geral </button>
    <button name="ctg" value="tecnologia" id="tecnologiabtn"> Tecnologia </button>
    <button name="ctg" value="saude" id="saudebtn"> Saúde </button>
    <button name="ctg" value="economia" id="economiabtn"> Economia </button>
    </form>
</div>

<div>
    <h1 class="title {{ dark }}__text"> Noticias para {{ (user.upper()) }}</h1>
</div>


<div class="news__container">




   
    {% for i in news %}
    <div class="card">
        <div class="card__img">
            <img src=" {{ i['img'] }} " alt="">
        </div>
        <div class="card__text">
            <p> {{ i['name'] }} </p>
           
        </div>
        <div class="button__area">
            <button class="acessbtn"><a href="{{ i['link'] }}">Acesse!</a></button>
        </div>
    </div>
    {% endfor %}
       




</div>




{% endblock %}
